@model SkyRentifyAplikacija.Models.Zahtjev

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-control::placeholder {
        color: #495057; /* Boja teksta placeholder-a */
    }
</style>

<form asp-action="Create" method="post" id="formaUnosa">
    @Html.AntiForgeryToken()

    <label for="ime">Unesite sljedeće podatke:</label>

    @Html.LabelFor(model => model.klijent.ime)
    @Html.EditorFor(model => model.klijent.ime, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.klijent.ime, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.klijent.prezime)
    @Html.EditorFor(model => model.klijent.prezime, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.klijent.prezime, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.klijent.brojTelefona)
    @Html.EditorFor(model => model.klijent.brojTelefona, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.klijent.brojTelefona, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.klijent.email)
    @Html.EditorFor(model => model.klijent.email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.klijent.email, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.klijent.visina)
    @Html.EditorFor(model => model.klijent.visina, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.klijent.visina, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.klijent.nivoVjestine)
    @Html.DropDownListFor(model => model.klijent.nivoVjestine, (SelectList)ViewBag.VjestinaTipovi, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.klijent.nivoVjestine, "", new { @class = "text-danger" })

    @Html.EditorFor(model => model.datumIzdavanjaUsluge, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.datumIzdavanjaUsluge, "", new { @class = "text-danger" })

    @Html.EditorFor(model => model.datumZavrsetkaUsluge, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.datumZavrsetkaUsluge, "", new { @class = "text-danger" })

    <div class="dalje-button">
        <button type="submit">Idi na plaćanje</button>
    </div>
</form>

<script>
    document.getElementById('daljeBtn').addEventListener('click', function () {
        var form = document.getElementById('formaUnosa');
        if (form.checkValidity()) {
            window.location.href = "link_ka_stranici_placanja"; //na placanje otici
        } else {
            alert("Molimo Vas unesite sve podatke.")
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        var inputs = document.querySelectorAll(".form-control");

        inputs.forEach(function (input) {
            var label = document.querySelector("label[for='" + input.id + "']");
            if (label) {
                var displayName = label.textContent.trim();
                input.placeholder = displayName;
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
