@model SkyRentifyAplikacija.Models.Zahtjev

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-image: url('https://i.ibb.co/wpCmNF9/plava-pozadina.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2, h3 {
        text-align: center;
        color: darkorange;
        margin-top: 20px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

        .form-container .content {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            max-width: 100%;
            text-align: center;
        }

    dl.row {
        margin-top: 20px;
    }

    dt {
        color: darkorange;
        font-weight: bold;
    }

    dd {
        margin-bottom: 10px;
    }

    .btn-danger {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

        .btn-danger:hover {
            background-color: darkred;
        }

    a {
        color: darkorange;
        text-decoration: none;
        font-weight: bold;
    }

        a:hover {
            color: orangered;
        }
</style>

<div class="form-container">
    <div class="content">
        <h2>Brisanje Zahtjeva</h2>
        <h3>Da li ste sigurni da želite obrisati ovaj zahtjev?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.datumPodnosenjaZahtjeva)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.datumPodnosenjaZahtjeva)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.datumIzdavanjaUsluge)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.datumIzdavanjaUsluge)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.datumZavrsetkaUsluge)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.datumZavrsetkaUsluge)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.klijent)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.klijent.Id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.cijena)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.cijena)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.popust)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.popust)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.placeno)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.placeno)
            </dd>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Obriši" class="btn btn-danger" />
            <a asp-action="Index">Nazad na listu</a>
        </form>
        </dl>
    </div>
</div>
