@model IEnumerable<SkyRentifyAplikacija.Models.Zahtjev>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datumPodnosenjaZahtjeva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumIzdavanjaUsluge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumZavrsetkaUsluge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.klijent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datumPodnosenjaZahtjeva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumIzdavanjaUsluge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumZavrsetkaUsluge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.klijent.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
