@model SkyRentifyAplikacija.Models.OpremaPrikazViewModel

@{
    ViewData["Title"] = "Preporučena oprema";
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background: linear-gradient(135deg, #007bff, #b3d9ff);
        background-repeat: repeat;
        background-size: cover;
    }
    .card-text{
        color:darkorange;
    }

    .card-title {
        color: darkorange;
    }

    .heading.orange-text {
        color: darkorange;
    }

    .text-center.my-4 {
        color: darkorange;
    }

    .btn-orange {
        background-color: orange;
        color: white;
    }

        .btn-orange:hover {
            background-color: darkorange;
        }

    .btn-lg {
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 8px;
    }

    .center-btn {
        display: flex;
        justify-content: center;
    }

    /* Stilovi za checkbox */
    .checkbox-label {
        display: inline-flex; /* Postavlja labelu kao fleksibilni kontejner */
        align-items: center; /* Centrira sadržaj vertikalno unutar fleksibilnog kontejnera */
    }

    .opremaCheckbox {
        margin-right: 10px; /* Razmak između checkboxa i teksta */
        width:20px;
        height:20px;
    }

    /* Stilovi za centriranje */
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centriranje sadržaja unutar kartice */
    }

</style>

<h2 class="text-center my-4">Preporučena oprema</h2>

<div class="container">
    <div class="row">
        @if (Model.Skije.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Skije</h3>
                <div class="row">
                    @foreach (var skija in Model.Skije)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/jJgFLgv/skije.jpg" class="card-img-top" alt="Slika skija">
                                <div class="card-body">
                                    <h5 class="card-title">@skija.marka skije</h5>
                                    <p class="card-text"><strong>@skija.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "Skije", new { id = skija.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@skija.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Pancerice.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Pancerice</h3>
                <div class="row">
                    @foreach (var pancerice in Model.Pancerice)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/7SHJBPn/pancerice.jpg" class="card-img-top" alt="Slika pancerica">
                                <div class="card-body">
                                    <h5 class="card-title">@pancerice.marka pancerice</h5>
                                    <p class="card-text"><strong>@pancerice.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "Pancerice", new { id = pancerice.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@pancerice.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Kacige.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Kacige</h3>
                <div class="row">
                    @foreach (var kacige in Model.Kacige)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/WGNG5cD/kaciga.jpg" class="card-img-top" alt="Slika kaciga">
                                <div class="card-body">
                                    <h5 class="card-title">@kacige.marka kaciga</h5>
                                    <p class="card-text"><strong>@kacige.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "Kaciga", new { id = kacige.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@kacige.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Stapovi.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Štapovi</h3>
                <div class="row">
                    @foreach (var stapovi in Model.Stapovi)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/9cXyHLm/stapovi.jpg" class="card-img-top" alt="Slika stapova">
                                <div class="card-body">
                                    <h5 class="card-title">@stapovi.marka štapovi</h5>
                                    <p class="card-text"><strong>@stapovi.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "Stapovi", new { id = stapovi.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@stapovi.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Snowboard.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Snowboardi</h3>
                <div class="row">
                    @foreach (var snowboard in Model.Snowboard)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/zGwCZ77/snowboard.png" class="card-img-top" alt="Slika snowboarda">
                                <div class="card-body">
                                    <h5 class="card-title">@snowboard.marka snowboard</h5>
                                    <p class="card-text"><strong>@snowboard.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "Snowboard", new { id = snowboard.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@snowboard.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.SnowboardCipele.Any())
        {
            <div class="col-12 mb-4">
                <h3 class="heading orange-text">Snowboard cipele</h3>
                <div class="row">
                    @foreach (var snowboardcipele in Model.SnowboardCipele)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img src="https://i.ibb.co/6bH9W4m/snowboard-cizme.jpg" class="card-img-top" alt="Slika snowboard cipela">
                                <div class="card-body">
                                    <h5 class="card-title">@snowboardcipele.marka snowboard cipele</h5>
                                    <p class="card-text"><strong>@snowboardcipele.cijena KM</strong></p>
                                    @Html.ActionLink("Detalji", "Details", "SnowboardCipele", new { id = snowboardcipele.Id }, new { @class = "btn btn-primary btn-sm" })
                                    <label class="checkbox-label">
                                        <input type="checkbox" class="opremaCheckbox" value="@snowboardcipele.Id">
                                        Odaberi
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="col-12 center-btn">
            <button type="button" class="btn btn-orange btn-lg" onclick="submitSelectedItems()">Nastavi na plaćanje</button>
        </div>
    </div>
</div>

<script>
    function submitSelectedItems() {
        var selectedItems = [];
        var checkboxes = document.querySelectorAll('.opremaCheckbox:checked');
        checkboxes.forEach(function (checkbox) {
            selectedItems.push(checkbox.value);
        });

        // Pošaljemo odabrane stavke na server
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '@Url.Action("OdaberiOpremu", "Zahtjev")');
        form.classList.add('mt-2');

        var zahtjevIdInput = document.createElement('input');
        zahtjevIdInput.setAttribute('type', 'hidden');
        zahtjevIdInput.setAttribute('name', 'zahtjevId');
        zahtjevIdInput.setAttribute('value', '@Model.ZahtjevId');
        form.appendChild(zahtjevIdInput);

        var selectedItemsInput = document.createElement('input');
        selectedItemsInput.setAttribute('type', 'hidden');
        selectedItemsInput.setAttribute('name', 'selectedItems');
        selectedItemsInput.setAttribute('value', selectedItems.join());
        form.appendChild(selectedItemsInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>
